@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');


body {
  font-family: 'Nunito', sans-serif;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 245%2c 202%2c 1)'%3e%3c/rect%3e%3cpath d='M98 0C138.5 36.98 99 118.33 140 127.83C190 139.42 213.37 89.23 280 42.19C303.9 25.31 294.95 7.87 321.07 0C364.95 -13.22 370.53 0 420 0C477.97 0 480.88 -7.97 535.94 0C550.88 2.16 546.55 20.26 560 20.26C581.22 20.26 581.23 3.48 605.29 0C651.23 -6.65 652.64 0 700 0C770 0 770 0 840 0C877.06 0 878.82 -7.84 914.12 0C948.82 7.71 951.72 31.11 980 31.11C994.15 31.11 982.78 3.6 998.98 0C1052.78 -11.95 1059.49 0 1120 0C1171 0 1179.13 -15.97 1222 0C1249.13 10.11 1234.76 52.16 1260 52.16C1304.91 52.16 1309.61 19.64 1362.31 0C1379.61 -6.44 1381.15 0 1400 0C1470 0 1505 -35 1540 0C1575 35 1540 70 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1214.1 560 1210.51 570.83 1168.2 560C1140.51 552.91 1143.56 524.15 1120 524.15C1098.16 524.15 1102.85 553.48 1077.39 560C1032.85 571.4 1028.7 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C650.59 560 636.56 582.11 601.18 560C566.56 538.36 593.46 472.5 560 472.5C502.87 472.5 495.46 541.42 420 560C355.46 575.89 349.1 541.45 280 541.45C251.6 541.45 253.4 556.24 225 560C183.4 565.51 182.5 560 140 560C83.34 560 77.09 572.61 26.67 560C7.09 555.11 3.94 545.67 0 525C-9.4 475.67 0 472.5 0 420C0 378 -5.86 376.99 0 336C4.14 306.99 20 305.48 20 280C20 268.45 1.81 274.61 0 261.94C-8.19 204.61 0 200.97 0 140C0 70 -28.82 41.18 0 0C20.18 -28.82 68.5 -26.93 98 0' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M420 148.24C395.15 148.24 361.05 224.99 361.05 280C361.05 304.87 391.87 308 420 308C440.33 308 457.97 300.45 457.97 280C457.97 220.57 443.61 148.24 420 148.24' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 262.05C684.72 265.87 673.58 269.23 673.58 280C673.58 293.76 681.53 304.4 700 311.11C764.74 334.63 777.43 350.23 840 340.45C876.98 334.67 899.11 307.5 899.11 280C899.11 256.5 873.58 241.47 840 238.44C774.02 232.49 767.93 245.09 700 262.05' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 260C1370.08 260 1330 273.13 1330 280C1330 286.63 1366.2 287 1400 287C1404.88 287 1407.37 284.36 1407.37 280C1407.37 270.86 1408.76 260 1400 260' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M48 0C77.24 52.43 92.1 79.98 78.08 140C68.1 182.72 23.77 205.48 0 205.48C-15.27 205.48 0 172.74 0 140C0 70 -17.87 52.13 0 0C6.13 -17.87 38.2 -17.57 48 0' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M205.71 140C239.48 111.09 242.97 90.14 280 90.14C316.52 90.14 352.8 106.84 352.8 140C352.8 194.53 318.69 204.62 280 265.52C274.22 274.62 263.85 273.78 263.85 280C263.85 285.22 271.73 284.6 280 288.4C349.81 320.48 353.59 354.1 420 351.75C472.24 349.9 505.44 327.78 517.29 280C531.69 221.9 503.55 205.31 472.5 140C454.91 103 444.92 108.69 420 75.38C392.54 38.69 367.73 24.01 367.73 0C367.73 -13.68 393.87 0 420 0C450.63 0 455.14 -12.37 481.25 0C525.14 20.79 515.89 65.07 560 66.32C625.27 68.18 629.64 7.25 700 6.22C769.64 5.2 770.93 32.1 840 62.22C910.93 93.15 924.62 144.11 980 128.33C1033.77 113 1008.68 45.5 1058.31 0C1078.68 -18.67 1089.15 0 1120 0C1146 0 1153.93 -15.59 1172 0C1223.93 44.8 1211.02 66.23 1260 120.78C1273.87 136.23 1297.69 128.25 1297.69 140C1297.69 153.66 1281.86 160.85 1260 171.61C1193.01 204.6 1188.87 197.03 1120 227.5C1066.37 251.23 1015 263.34 1015 280C1015 294.98 1081.76 262.24 1120 290.77C1175.57 332.24 1202.62 362.95 1202.62 420C1202.62 458.3 1160.27 449.42 1120 481.46C1072.3 519.42 1077.3 531.6 1026.67 560C1007.3 570.87 1003.34 560 980 560C940.73 560 925.22 583.76 901.46 560C855.22 513.76 823.46 481.39 840 420C861.18 341.39 976.89 343.69 976.89 280C976.89 225.57 914.43 200.64 840 183.75C775.98 169.23 765.42 190.09 700 217.18C649.2 238.22 645.54 240.89 607.55 280C575.54 312.95 583.92 320.73 560 361.29C542.64 390.73 548.5 395.83 525 420C478.5 467.84 480.17 485.84 420 505.31C357.67 525.48 344.52 519.93 280 499.28C211.25 477.28 212.28 463.81 153.46 420C142.28 411.67 146.42 407.66 140 395C110.94 337.66 82.5 334.27 82.5 280C82.5 241.77 110.09 243.98 140 210C171.7 173.98 169.48 171.02 205.71 140' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1540 26.67C1532.62 26.67 1514.55 7.89 1514.55 0C1514.55 -5.45 1533.79 -6.51 1540 0C1546.51 6.82 1545.34 26.67 1540 26.67' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M639.13 420C646.87 392.02 667.58 388.89 700 388.89C768.02 388.89 820.99 378.59 840 420C860.26 464.15 824.78 513.76 778.54 560C754.78 583.76 739.27 560 700 560C676.33 560 660.32 577.63 652.65 560C629.88 507.63 623.2 477.57 639.13 420' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1225.57 560C1225.57 543.05 1233.56 520.76 1260 507.5C1320.77 477.01 1335.45 459.82 1400 472.5C1469.08 486.07 1527.27 536.01 1527.27 560C1527.27 579.76 1463.64 560 1400 560C1330 560 1330 560 1260 560C1242.78 560 1225.57 569.3 1225.57 560' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 28C2.7 28 10.77 86.2 10.77 140C10.77 146.72 3.28 149.03 0 149.03C-2.11 149.03 0 144.51 0 140C0 84 -2.69 28 0 28' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M277.14 140C277.14 138.72 278.57 138.08 280 138.08C281.4 138.08 282.8 138.72 282.8 140C282.8 142.1 281.41 144.83 280 144.83C278.58 144.83 277.14 142.09 277.14 140' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M420 8.08C417.05 8.08 414.4 2.57 414.4 0C414.4 -1.47 417.2 0 420 0C423.28 0 426.56 -1.56 426.56 0C426.56 2.48 423.13 8.08 420 8.08' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M527.19 140C527.19 121.65 540.05 118.84 560 112.37C626.45 90.84 632.96 76.58 700 84C757.75 90.39 809.57 117.1 809.57 140C809.57 161.26 753.23 151.95 700 172.31C628.44 199.68 612.14 245.2 560 235.45C525.73 229.04 527.19 183.19 527.19 140' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 6.67C1118.9 6.67 1117.63 2.5 1117.63 0C1117.63 -0.84 1118.82 0 1120 0C1121 0 1122 -0.74 1122 0C1122 2.59 1121.08 6.67 1120 6.67' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M220.77 420C220.77 392.85 243.03 362.95 280 358.4C342.65 350.7 352.2 372 420 395.5C441.04 402.8 457.69 406.75 457.69 420C457.69 434.32 442.86 445.85 420 450.63C354.02 464.41 346.47 467.33 280 457.11C246.85 452.01 220.77 442.21 220.77 420' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1017.33 420C1017.33 405.05 1075.15 380.51 1120 380.51C1139.11 380.51 1145.25 402.57 1145.25 420C1145.25 431.7 1134.82 438.78 1120 438.78C1070.86 438.78 1017.33 434.18 1017.33 420' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

#input,
#output {
  width: 45%;
  height: 400px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  font-family: inherit;
  overflow: auto;

}

/* Align them side by side */
#container {
  display: flex;
  justify-content: center;
}

/* Show the output as HTML */
#output {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  
}

/* Style the copy button */
#copy {
  margin: 10px auto;
  display: flex;
  padding: 9px;
  font-size: x-large;
  border-radius: 10px;
  border-style: dashed;
}

#copy:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Make the input and output have the same height */
#input,
#output {
  box-sizing: border-box; /* Include padding and border in height calculation */
  border-radius: 2px;
  background: white;
}

textarea {
  resize: none;

}

.h1-top {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 50px;
  font-family: inherit;
}

.p-top {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.notification {
  display: none;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

